.Logo {
    background-color: white;
    padding: 8px;
    height: 100%;
    /* to includes the the 80% and padding */
    box-sizing: border-box;
    border-radius: 5px;
}

.Logo img {
    height: 100%;
}